.wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, 50px) minmax(0, 1fr) minmax(0, 60px);
  height: 100%;

  .header {
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid black;

    .title {

    }

    .contents {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }
  }

  .body {
    padding: 0 10px;
    overflow: auto;

    .user {
      display: flex;
      align-items: center;
      height: 80px;
      border-bottom: 1px solid black;
    }

    .friend_area {
      padding: 10px 0;

      .friend_summery {
        
      }

      .friend {
        display: flex;
        align-items: center;
        height: 50px;
      }
    }

  }

  .footer {
    
  }
}