.add-chatting-room-wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, 50px) minmax(0, 50px) minmax(0, 1fr); 
  width: 100%;
  height: 100%;
  color: #fff;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    
    .close-btn {
      flex: 0 0 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .title {
      flex: 1;
      text-align: center;
    }

    .complate-btn {
      flex: 0 0 50px;
      text-align: center;
    }
  }

  .body {
    overflow-y: auto;
    
    .friend-area {
      display: grid;
      grid-template-rows: minmax(0, 1fr);
      grid-template-columns: minmax(0, 1fr) minmax(0, 50px);
      height: 50px;
      align-items: center;
      justify-items: center;
      padding: 0 10px;
      
      .friend-name {
        justify-self: start;
      }
    }
  }
}